In [29]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor
import joblib
import json

In [3]:
df = pd.read_csv("./data.csv")

In [4]:
df

,Price,Apartment type,Metro station,Minutes to metro,Region,Number of rooms,Area,Living area,Kitchen area,Floor,Number of floors,Renovation
0,6300000.0,Secondary,Опалиха,6.0,Moscow region,1.0,30.60,11.1,8.5,25.0,25,Cosmetic
1,9000000.0,Secondary,Павшино,2.0,Moscow region,1.0,49.20,20.0,10.0,6.0,15,European-style renovation
2,11090000.0,Secondary,Мякинино,14.0,Moscow region,1.0,44.70,16.2,13.1,10.0,25,Cosmetic
3,8300000.0,Secondary,Строгино,8.0,Moscow region,1.0,35.10,16.0,11.0,12.0,33,European-style renovation
4,6450000.0,Secondary,Опалиха,6.0,Moscow region,1.0,37.70,15.2,4.0,5.0,5,Without renovation
...,...,...,...,...,...,...,...,...,...,...,...,...
22671,4768792.0,New building,Котельники,8.0,Moscow region,0.0,31.75,13.0,5.0,4.0,17,Cosmetic
22672,5900000.0,New building,Домодедовская,25.0,Moscow region,1.0,31.60,10.1,12.2,11.0,15,Cosmetic
22673,3700000.0,New building,Котельники,30.0,Moscow region,0.0,18.00,15.0,8.1,17.0,17,Cosmetic
22674,5768869.0,New building,Жулебино,14.0,Moscow region,2.0,36.39,22.0,6.6,12.0,14,Cosmetic
22675,6839157.0,New building,Котельники,8.0,Moscow region,2.0,56.13,32.0,5.0,10.0,17,Cosmetic

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22676 entries, 0 to 22675
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             22676 non-null  float64
 1   Apartment type    22676 non-null  object
 2   Metro station     22676 non-null  object
 3   Minutes to metro  22676 non-null  float64
 4   Region            22676 non-null  object
 5   Number of rooms   22676 non-null  float64
 6   Area              22676 non-null  float64
 7   Living area       22676 non-null  float64
 8   Kitchen area      22676 non-null  float64
 9   Floor             22676 non-null  float64
 10  Number of floors  22676 non-null  int64
 11  Renovation        22676 non-null  object
dtypes: float64(7), int64(1), object(4)
memory usage: 2.1+ MB

In [6]:
null_counts = df.isnull().sum()
print(null_counts)

Price               0
Apartment type      0
Metro station       0
Minutes to metro    0
Region              0
Number of rooms     0
Area                0
Living area         0
Kitchen area        0
Floor               0
Number of floors    0
Renovation          0
dtype: int64

In [7]:
df.drop("Region",axis=1,inplace=True)

In [8]:
df["Renovation"].unique()

array(['Cosmetic', 'European-style renovation', 'Without renovation',
       'Designer'], dtype=object)

In [9]:
df["Renovation"] = df["Renovation"].map({'Cosmetic':'Косметический ремонт','European-style renovation':'Европейский стиль ремонта', 'Without renovation':'Без ремонта', 'Designer':'Дизанейрский ремон'})

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22676 entries, 0 to 22675
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             22676 non-null  float64
 1   Apartment type    22676 non-null  object
 2   Metro station     22676 non-null  object
 3   Minutes to metro  22676 non-null  float64
 4   Number of rooms   22676 non-null  float64
 5   Area              22676 non-null  float64
 6   Living area       22676 non-null  float64
 7   Kitchen area      22676 non-null  float64
 8   Floor             22676 non-null  float64
 9   Number of floors  22676 non-null  int64
 10  Renovation        22676 non-null  object
dtypes: float64(7), int64(1), object(3)
memory usage: 1.9+ MB

In [11]:
df["Apartment type"] = df["Apartment type"].map({"Secondary":"Вторичка","New building":"Новострой"})

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22676 entries, 0 to 22675
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             22676 non-null  float64
 1   Apartment type    22676 non-null  object
 2   Metro station     22676 non-null  object
 3   Minutes to metro  22676 non-null  float64
 4   Number of rooms   22676 non-null  float64
 5   Area              22676 non-null  float64
 6   Living area       22676 non-null  float64
 7   Kitchen area      22676 non-null  float64
 8   Floor             22676 non-null  float64
 9   Number of floors  22676 non-null  int64
 10  Renovation        22676 non-null  object
dtypes: float64(7), int64(1), object(3)
memory usage: 1.9+ MB

In [15]:
X = df.drop("Price",axis=1)
y = df["Price"]

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22676 entries, 0 to 22675
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Apartment type    22676 non-null  object
 1   Metro station     22676 non-null  object
 2   Minutes to metro  22676 non-null  float64
 3   Number of rooms   22676 non-null  float64
 4   Area              22676 non-null  float64
 5   Living area       22676 non-null  float64
 6   Kitchen area      22676 non-null  float64
 7   Floor             22676 non-null  float64
 8   Number of floors  22676 non-null  int64
 9   Renovation        22676 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.7+ MB

In [17]:
label_encoders = {}
dicts = {}
for column in ['Apartment type', 'Metro station', 'Renovation']:
    le = LabelEncoder()
    X[column] = le.fit_transform(X[column])
    label_encoders[column] = le

In [18]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22676 entries, 0 to 22675
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Apartment type    22676 non-null  int32
 1   Metro station     22676 non-null  int32
 2   Minutes to metro  22676 non-null  float64
 3   Number of rooms   22676 non-null  float64
 4   Area              22676 non-null  float64
 5   Living area       22676 non-null  float64
 6   Kitchen area      22676 non-null  float64
 7   Floor             22676 non-null  float64
 8   Number of floors  22676 non-null  int64
 9   Renovation        22676 non-null  int32
dtypes: float64(6), int32(3), int64(1)
memory usage: 1.5 MB

In [22]:
cat_dict = {col: dict(zip(le.classes_, le.transform(le.classes_))) for col, le in label_encoders.items()}

# Вывод словарей для трех категориальных переменных
for col, mapping in cat_dict.items():
    print(f"{col}: {mapping}")

Apartment type: {'Вторичка': 0, 'Новострой': 1}
Metro station: {' Авиамоторная': 0, ' Автозаводская': 1, ' Академическая': 2, ' Александровский сад': 3, ' Алексеевская': 4, ' Алма-Атинская': 5, ' Алтуфьево': 6, ' Аминьевская': 7, ' Андроновка': 8, ' Аникеевка': 9, ' Арбатская': 10, ' Аэропорт': 11, ' Аэропорт Внуково': 12, ' Бабушкинская': 13, ' Багратионовская': 14, ' Балтийская': 15, ' Баррикадная': 16, ' Бауманская': 17, ' Беговая': 18, ' Беломорская': 19, ' Белорусская': 20, ' Бескудниково': 21, ' Бибирево': 22, ' Библиотека и Ленина': 23, ' Боровицкая': 24, ' Ботанический сад': 25, ' Братиславская': 26, ' Бульвар Адмирала Ушакова': 27, ' Бульвар Дмитрия Донского': 28, ' Бульвар Рокоссовского': 29, ' Бунинская аллея': 30, ' Бутово': 31, ' Бутырская': 32, ' ВДНХ': 33, ' Варшавская': 34, ' Верхние Лихоборы': 35, ' Верхние котлы': 36, ' Вешняки': 37, ' Владыкино': 38, ' Внуково': 39, ' Водный стадион': 40, ' Войковская': 41, ' Волгоградский проспект': 42, ' Волжская': 43, ' Волоколамская': 44, ' Воробьёвы горы': 45, ' Воронцовская': 46, ' Выставочная': 47, ' Выставочный центр': 48, ' Выхино': 49, ' Говорово': 50, ' Гражданская': 51, ' Давыдково': 52, ' Дегунино': 53, ' Деловой центр': 54, ' Депо': 55, ' Динамо': 56, ' Дмитровская': 57, ' Добрынинская': 58, ' Достоевская': 59, ' Дубровка': 60, ' ЗИЛ': 61, ' Зеленоград — Крюково': 62, ' Зорге': 63, ' Зюзино': 64, ' Зябликово': 65, ' Калитники': 66, ' Калужская': 67, ' Кантемировская': 68, ' Карамышевская': 69, ' Каховская': 70, ' Киевская': 71, ' Китай-город': 72, ' Кожуховская': 73, ' Коломенская': 74, ' Коммунарка': 75, ' Комсомольская': 76, ' Коньково': 77, ' Коптево': 78, ' Красногвардейская': 79, ' Красногорская': 80, ' Краснопресненская': 81, ' Красносельская': 82, ' Красные ворота': 83, ' Красный Балтиец': 84, ' Красный Строитель': 85, ' Кропоткинская': 86, ' Крылатское': 87, ' Крымская': 88, ' Кузнецкий мост': 89, ' Кузьминки': 90, ' Кунцевская': 91, ' Курская': 92, ' Курьяново': 93, ' Кутузовская': 94, ' Ленинский проспект': 95, ' Лесопарковая': 96, ' Лефортово': 97, ' Лианозово': 98, ' Лихоборы': 99, ' Локомотив': 100, ' Ломоносовский проспект': 101, ' Лужники': 102, ' Люблино': 103, ' Марксистская': 104, ' Марьина Роща': 105, ' Матвеевская': 106, ' Маяковская': 107, ' Медведково': 108, ' Международная': 109, ' Менделеевская': 110, ' Минская': 111, ' Митино': 112, ' Мичуринский проспект': 113, ' Мнёвники': 114, ' Молодёжная': 115, ' Москва-Товарная': 116, ' Москворечье': 117, ' Мякинино': 118, ' Нагатинская': 119, ' Нагатинский Затон': 120, ' Нагорная': 121, ' Народное Ополчение': 122, ' Нахабино': 123, ' Нахимовский проспект': 124, ' Некрасовка': 125, ' Нижегородская': 126, ' Новаторская': 127, ' Новогиреево': 128, ' Новодачная': 129, ' Новокосино': 130, ' Новокузнецкая': 131, ' Новопеределкино': 132, ' Новоподрезково': 133, ' Новослободская': 134, ' Новохохловская': 135, ' Новые Черёмушки': 136, ' Озёрная': 137, ' Окружная': 138, ' Окская': 139, ' Октябрьская': 140, ' Октябрьское поле': 141, ' Ольховая': 142, ' Опалиха': 143, ' Орехово': 144, ' Остафьево': 145, ' Отрадное': 146, ' Охотный ряд': 147, ' Очаково': 148, ' Павелецкая': 149, ' Павшино': 150, ' Панфиловская': 151, ' Парк Культуры': 152, ' Парк Победы': 153, ' Пенягино': 154, ' Первомайская': 155, ' Перерва': 156, ' Петровский Парк': 157, ' Печатники': 158, ' Планерная': 159, ' Площадь Гагарина': 160, ' Площадь Ильича': 161, ' Площадь Революции': 162, ' Подольск': 163, ' Полежаевская': 164, ' Полянка': 165, ' Пражская': 166, ' Преображенская площадь': 167, ' Прокшино': 168, ' Пролетарская': 169, ' Проспект Вернадского': 170, ' Проспект Мира': 171, ' Профсоюзная': 172, ' Пушкинская': 173, ' Пыхтино': 174, ' Пятницкое шоссе': 175, ' Рабочий посёлок': 176, ' Раменки': 177, ' Рассказовка': 178, ' Речной вокзал': 179, ' Рижская': 180, ' Римская': 181, ' Ростокино': 182, ' Румянцево': 183, ' Рязанский проспект': 184, ' Савёловская': 185, ' Саларьево': 186, ' Санино': 187, ' Свиблово': 188, ' Севастопольская': 189, ' Селигерская': 190, ' Семёновская': 191, ' Серпуховская': 192, ' Силикатная': 193, ' Славянский бульвар': 194, ' Смоленская': 195, ' Сокол': 196, ' Соколиная гора': 197, ' Сокольники': 198, ' Солнцево': 199, ' Спартак': 200, ' Спортивная': 201, ' Сретенский бульвар': 202, ' Стахановская': 203, ' Стрешнево': 204, ' Строгино': 205, ' Студенческая': 206, ' Сухаревская': 207, ' Сходненская': 208, ' Таганская': 209, ' Тверская': 210, ' Театральная': 211, ' Текстильщики': 212, ' Терехово ': 213, ' Тестовская': 214, ' Технопарк': 215, ' Тимирязевская': 216, ' Третьяковская': 217, ' Трикотажная': 218, ' Тропарёво': 219, ' Трубная': 220, ' Тульская': 221, ' Тургеневская': 222, ' Тушинская': 223, ' Тёплый Стан': 224, ' Угрешская': 225, ' Улица 1905 года': 226, ' Улица Академика Королёва': 227, ' Улица Академика Янгеля': 228, ' Улица Горчакова': 229, ' Улица Скобелевская': 230, ' Улица Старокачаловская': 231, ' Университет': 232, ' Физтех': 233, ' Филатов Луг': 234, ' Фили': 235, ' Филёвский парк': 236, ' Фонвизинская': 237, ' Фрунзенская': 238, ' Хлебниково': 239, ' Ховрино': 240, ' Хорошёво': 241, ' Хорошёвская': 242, ' ЦСКА': 243, ' Царицыно': 244, ' Цветной бульвар': 245, ' Черкизовская': 246, ' Чертановская': 247, ' Чеховская': 248, ' Чистые пруды': 249, ' Чкаловская': 250, ' Шаболовская': 251, ' Шелепиха': 252, ' Шоссе Энтузиастов': 253, ' Щербинка': 254, ' Щукинская': 255, ' Щёлковская': 256, ' Электрозаводская': 257, ' Юго-Восточная': 258, ' Юго-Западная': 259, ' Южная': 260, ' Ясенево': 261, ' Яхромская': 262, 'Авиамоторная': 263, 'Автозаводская': 264, 'Академическая': 265, 'Алексеевская': 266, 'Алма-Атинская': 267, 'Алтуфьево': 268, 'Аминьевская': 269, 'Андроновка': 270, 'Аннино': 271, 'Арбатская': 272, 'Аэропорт': 273, 'Бабушкинская': 274, 'Багратионовская': 275, 'Балтийская': 276, 'Баррикадная': 277, 'Бауманская': 278, 'Беговая': 279, 'Белокаменная': 280, 'Беломорская': 281, 'Белорусская': 282, 'Беляево': 283, 'Бескудниково': 284, 'Бибирево': 285, 'Библиотека им. Ленина': 286, 'Битца': 287, 'Битцевский Парк': 288, 'Борисово': 289, 'Боровицкая': 290, 'Боровское шоссе': 291, 'Ботанический сад': 292, 'Братиславская': 293, 'Бульвар Адмирала Ушакова': 294, 'Бульвар Дмитрия Донского': 295, 'Бульвар Рокоссовского': 296, 'Бунинская Аллея': 297, 'Бутово': 298, 'Бутырская ': 299, 'ВДНХ': 300, 'Варшавская': 301, 'Варшавская (Коломенское)': 302, 'Верхние Котлы': 303, 'Верхние Лихоборы': 304, 'Владыкино': 305, 'Внуково': 306, 'Водный стадион': 307, 'Войковская': 308, 'Волгоградский проспект': 309, 'Волжская': 310, 'Волоколамская': 311, 'Воробьевы горы': 312, 'Воронцовская': 313, 'Выставочная': 314, 'Выхино': 315, 'Говорово': 316, 'Гражданская': 317, 'Давыдково': 318, 'Дегунино': 319, 'Деловой центр': 320, 'Депо': 321, 'Динамо': 322, 'Дмитровская': 323, 'Добрынинская': 324, 'Долгопрудная': 325, 'Домодедовская': 326, 'Достоевская': 327, 'Дубровка': 328, 'Жулебино': 329, 'ЗИЛ': 330, 'Зорге': 331, 'Зюзино': 332, 'Зябликово': 333, 'Измайлово': 334, 'Измайловская': 335, 'Калитники': 336, 'Калужская': 337, 'Кантемировская': 338, 'Каховская': 339, 'Каширская': 340, 'Киевская': 341, 'Китай-город': 342, 'Кленовый бульвар': 343, 'Кожуховская': 344, 'Коломенская': 345, 'Коммунарка': 346, 'Комсомольская': 347, 'Коньково': 348, 'Коптево': 349, 'Косино': 350, 'Котельники': 351, 'Красногвардейская': 352, 'Краснопресненская': 353, 'Красносельская': 354, 'Красные ворота': 355, 'Красный Балтиец': 356, 'Красный Строитель': 357, 'Крестьянская застава': 358, 'Кропоткинская': 359, 'Крылатское': 360, 'Крымская': 361, 'Кузнецкий мост': 362, 'Кузьминки': 363, 'Кунцевская': 364, 'Курская': 365, 'Курьяново': 366, 'Кутузовская': 367, 'Ленинский проспект': 368, 'Лермонтовский проспект': 369, 'Лесопарковая': 370, 'Лефортово': 371, 'Лианозово': 372, 'Лихоборы': 373, 'Локомотив': 374, 'Ломоносовский проспект': 375, 'Лубянка': 376, 'Лужники': 377, 'Лухмановская': 378, 'Люблино': 379, 'Марк': 380, 'Марксистская': 381, 'Марьина Роща': 382, 'Марьина Роща (Шереметьевская)': 383, 'Марьино': 384, 'Маяковская': 385, 'Медведково': 386, 'Международная': 387, 'Менделеевская': 388, 'Минская': 389, 'Митино': 390, 'Мичуринский проспект': 391, 'Мнёвники': 392, 'Молодежная': 393, 'Москва-Товарная': 394, 'Москворечье': 395, 'Мякинино': 396, 'Нагатинская': 397, 'Нагатинский Затон': 398, 'Нагорная': 399, 'Народное Ополчение': 400, 'Нахабино': 401, 'Нахимовский проспект': 402, 'Некрасовка': 403, 'Немчиновка': 404, 'Нижегородская': 405, 'Новаторская': 406, 'Новогиреево': 407, 'Новодачная': 408, 'Новокосино': 409, 'Новокузнецкая': 410, 'Новопеределкино': 411, 'Новослободская': 412, 'Новохохловская': 413, 'Новоясеневская': 414, 'Новые Черемушки': 415, 'Озёрная': 416, 'Окружная': 417, 'Окская': 418, 'Октябрьская': 419, 'Октябрьское поле': 420, 'Ольховая': 421, 'Орехово': 422, 'Остафьево': 423, 'Отрадное': 424, 'Охотный ряд': 425, 'Павелецкая': 426, 'Павшино': 427, 'Панфиловская': 428, 'Парк Победы': 429, 'Парк культуры': 430, 'Партизанская': 431, 'Пенягино': 432, 'Первомайская': 433, 'Перерва': 434, 'Перово': 435, 'Петровский парк': 436, 'Петровско-Разумовская': 437, 'Печатники': 438, 'Пионерская': 439, 'Планерная': 440, 'Площадь Гагарина': 441, 'Площадь Ильича': 442, 'Покровское': 443, 'Полежаевская': 444, 'Полянка': 445, 'Пражская': 446, 'Преображенская площадь': 447, 'Прокшино': 448, 'Пролетарская': 449, 'Проспект Вернадского': 450, 'Проспект Мира': 451, 'Профсоюзная': 452, 'Пушкинская': 453, 'Пыхтино': 454, 'Пятницкое шоссе': 455, 'Рабочий Посёлок': 456, 'Раменки': 457, 'Рассказовка': 458, 'Речной вокзал': 459, 'Рижская': 460, 'Римская': 461, 'Ростокино': 462, 'Румянцево': 463, 'Рязанский проспект': 464, 'Савеловская': 465, 'Савёловская': 466, 'Саларьево': 467, 'Свиблово': 468, 'Севастопольская': 469, 'Селигерская': 470, 'Семеновская': 471, 'Серпуховская': 472, 'Сетунь': 473, 'Силикатная': 474, 'Сколково': 475, 'Славянский бульвар': 476, 'Смоленская': 477, 'Сокол': 478, 'Соколиная Гора': 479, 'Сокольники': 480, 'Солнцево': 481, 'Спартак': 482, 'Спортивная': 483, 'Сретенский бульвар': 484, 'Стахановская': 485, 'Стрешнево': 486, 'Строгино': 487, 'Студенческая': 488, 'Сухаревская': 489, 'Сходненская': 490, 'Таганская': 491, 'Тверская': 492, 'Театральная': 493, 'Текстильщики': 494, 'Теплый Стан': 495, 'Терехово': 496, 'Терехово (Мнёвники)': 497, 'Тестовская': 498, 'Технопарк': 499, 'Тимирязевская': 500, 'Третьяковская': 501, 'Трикотажная': 502, 'Тропарево': 503, 'Трубная': 504, 'Тульская': 505, 'Тургеневская': 506, 'Тушинская': 507, 'Угрешская': 508, 'Улица 1905 года': 509, 'Улица Академика Янгеля': 510, 'Улица Горчакова': 511, 'Улица Дмитриевского': 512, 'Улица Скобелевская': 513, 'Улица Старокачаловская': 514, 'Университет': 515, 'Физтех': 516, 'Филатов Луг': 517, 'Филевский парк': 518, 'Фили': 519, 'Фонвизинская': 520, 'Фрунзенская': 521, 'Ховрино': 522, 'Хорошево': 523, 'Хорошёвская': 524, 'ЦСКА': 525, 'Царицыно': 526, 'Цветной бульвар': 527, 'Черкизовская': 528, 'Чертановская': 529, 'Чеховская': 530, 'Чистые пруды': 531, 'Чкаловская': 532, 'Шаболовская': 533, 'Шелепиха': 534, 'Шипиловская': 535, 'Шоссе Энтузиастов': 536, 'Шоссе энтузиастов': 537, 'Щелковская': 538, 'Щербинка': 539, 'Щукинская': 540, 'Электрозаводская': 541, 'Юго-Восточная': 542, 'Юго-Западная': 543, 'Южная': 544, 'Ясенево': 545, 'Яхромская': 546}
Renovation: {'Без ремонта': 0, 'Дизанейрский ремон': 1, 'Европейский стиль ремонта': 2, 'Косметический ремонт': 3}

In [23]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22676 entries, 0 to 22675
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Apartment type    22676 non-null  int32
 1   Metro station     22676 non-null  int32
 2   Minutes to metro  22676 non-null  float64
 3   Number of rooms   22676 non-null  float64
 4   Area              22676 non-null  float64
 5   Living area       22676 non-null  float64
 6   Kitchen area      22676 non-null  float64
 7   Floor             22676 non-null  float64
 8   Number of floors  22676 non-null  int64
 9   Renovation        22676 non-null  int32
dtypes: float64(6), int32(3), int64(1)
memory usage: 1.5 MB

In [31]:
X["Apartment type"] = X["Apartment type"].astype("int64")
X["Metro station"] = X["Metro station"].astype("int64")
X["Renovation"] = X["Renovation"].astype("int64")

In [32]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

rf = RandomForestRegressor(random_state=42)
xgb = XGBRegressor(random_state=42)
lr = LinearRegression()

rf.fit(X_train,y_train)
xgb.fit(X_train,y_train)
lr.fit(X_train,y_train)

print("mae rf:",mean_absolute_error(y_test,rf.predict(X_test)),"mse rf:",mean_squared_error(y_test,rf.predict(X_test)))
print("mae xgb:",mean_absolute_error(y_test,xgb.predict(X_test)),"mse xgb:",mean_squared_error(y_test,xgb.predict(X_test)))
print("mae lr:",mean_absolute_error(y_test,lr.predict(X_test)),"mse lr:",mean_squared_error(y_test,lr.predict(X_test)))

mae rf: 9427320.61935388 mse rf: 1290993347254333.8
mae xgb: 9267412.095816799 mse xgb: 1391596443163870.2
mae lr: 20234717.403505757 mse lr: 2498908809018927.0

In [36]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22676 entries, 0 to 22675
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Apartment type    22676 non-null  int64
 1   Metro station     22676 non-null  int64
 2   Minutes to metro  22676 non-null  float64
 3   Number of rooms   22676 non-null  float64
 4   Area              22676 non-null  float64
 5   Living area       22676 non-null  float64
 6   Kitchen area      22676 non-null  float64
 7   Floor             22676 non-null  float64
 8   Number of floors  22676 non-null  int64
 9   Renovation        22676 non-null  int64
dtypes: float64(6), int64(4)
memory usage: 1.7 MB

In [37]:
joblib.dump(rf, 'model.pkl')
joblib.dump(label_encoders, 'label_encoders.pkl')

# Создание словарей для категориальных признаков
cat_dict = {col: {str(k): int(v) for k, v in zip(le.classes_, le.transform(le.classes_))} for col, le in label_encoders.items()}

# Сохранение словарей в файл
with open('cat_dict.json', 'w', encoding='utf-8') as f:
    json.dump(cat_dict, f, ensure_ascii=False, indent=4)